$default = #2da2c8
$chocolate = #d2691e
$eucalyptus = #26a65b
$flamingo = #ef4836
$lime = #832dae
$lynch = #6c7a89
$plum = #913d88
$red = #ff0000
$riptide = #86e2d5
$yellow = #ffc400

$theme := $default
