@require 'config.styl'

.scroll-to-top
  background-color $theme

  &:hover
  &:focus
    background-color #fff
    color $theme
    border 1px solid $theme

.navbar-brand
  &>span
    color $theme

.navbar-default
  .navbar-nav
    &>.active
      &>a
      &>a:hover
      &>a:focus
        color $theme

    &>li
      &>a:hover
        color $theme

.slider-btn
  &:hover
  &:focus
    border-color $theme
    color $theme

.slides-navigation
  a:before
  a:after
    background $theme

.slides-pagination
  a
    border 2px solid $theme

.heading
  h2
    border-bottom 11px solid $theme

  h3
    border-bottom 5px solid $theme

.panel-title
  a
    &:hover
      color $theme

    span
      color $theme

.service-icon
  background-color $theme

.single-service
  &:hover
    .service-icon
      color $theme
      border 2px solid $theme
      background-color #fff

  .service-title
    color $theme

  &>.service-title
    &:after
      background-color $theme

.fa-2x
  color $theme

.single-team
  span
    color $theme

.team-social
  a:hover
  a:focus
    background-color $theme

.slick-prev
.slick-next
  background-color $theme

.single-price
  .price
    background-color $theme

.price-btn
  background-color $theme
  border 1px solid $theme

  &:hover
    color $theme !important

.premium-price
  background-color $theme !important

  .price-btn
    color $theme !important

.testimonial-media
  .media-body
    span
      color $theme

.testimonial-slider
  .slick-dots
    li.slick-active
      button
        background none repeat scroll 0 0 $theme

.submit-btn
  background-color $theme

  &:hover
    color $theme
    border-color $theme

.form-control
  &:focus
    border-color $theme

.single-contact-featured
  &>i
    color $theme

.subscribe-btn
  background-color $theme

.footer-left
  &>p
    a
      color $theme
      font-weight bold

.social-nav
  li
    a
      &:hover
        color $theme
        border-color $theme

.panel-default
  .in
    border-color $theme
    border-left 5px solid $theme

.about-slider
  .slick-dots
    li.slick-active
      button
        &:before
          color $theme
